/* Themed  styles */

.theme-dark {
  background-color: #111217;
}

.theme-light {
  background-color: #f4f5f5;
}

.theme-dark h3,
.theme-dark h4 {
  color: rgb(204, 204, 220);
}

.theme-light h3,
.theme-light h4 {
  color: rgba(36, 41, 46, 0.75);
}

.theme-dark .header {
  background-color: #191b1f;
}

.theme-light .header {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0.6px 1.5px, rgba(0, 0, 0, 0.06) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.theme-dark .column-contents {
  background-color: #191b1f;
}

.theme-light .column-contents {
  background-color: #ffffff;
}

.theme-dark select,
.theme-dark input {
  color: rgb(204, 204, 220);
  background-color: #111217;
  border: 2px solid rgba(204, 204, 220, 0.15);
}

.theme-dark .react-terminal-wrapper {
  background-color: #191b1f !important;
}

.theme-light .react-terminal-wrapper {
  background-color: #ffffff !important;
}
