/* Global styles */
body {
    margin: 0;
    font-family: Inter, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --bs-body-color: attr(data-text);
}

/* Global themes */
body.dark {
    color: rgb(204, 204, 220);
}

body.light {
    color: rgba(36, 41, 46, 1);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Terminal styles */

.react-terminal-wrapper {
    margin: 0 auto;
    height: 100% !important;
    width: 100% !important;
    text-align: left;
    font-size: 16px !important;
    min-height: 100px;
    padding: 50px 45px 5px !important;
    background: inherit !important;
}

.react-terminal-line {
    white-space: pre-line !important;
}

.react-terminal-input {
    margin-bottom: 20px;
    overflow: hidden;
    animation: fade-out 1s steps(180, end);
}

.react-terminal-line:not(.react-terminal-input) {
    margin: 5px auto 15px auto;
}

@keyframes fade-out {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
